[2016-12-09 04:48] pelikhan opened #1 "uf2conv.c should be moved in uf2 repo"

[2016-12-13 01:37] tannewt opened #4 "Store filename and time?"
Could we come up with a way to store the filename and datetime of the latest uf2 file? It'd be great to see `PXT-v1.2.uf2`, `Arduino-1.8.uf2` or `micropython-1.8.6.uf2` instead of `Current.uf2` when in mass storage mode. Ideally it'd actually be in the flashed region so flashing other ways would also update it.

[2016-12-13 02:35] ladyada opened #5 "README update for prereq"
node is also needed :)

[2016-12-16 11:52] #5 closed, assigned to nobody

[2016-12-16 11:53] #1 closed, assigned to nobody

[2016-12-21 01:27] ladyada opened #6 "no more win7 enum as of commit #a63c50c1755c841572122cce8a0482eae4d79d17 ?"
something in https://github.com/Microsoft/uf2-samd21/commit/a63c50c1755c841572122cce8a0482eae4d79d17 has broken the bootloader for me.
testing with an adafruit metro and windows 7
before, the HID+mass storage comes up. afterwards, HID enums but no mass storage?

@mmoskal can you try replicating? (make board=METRO and burn build\metro\uf2-bootloader.elf)

[2016-12-21 04:40] #6 closed, assigned to nobody

[2016-12-21 04:42] ladyada opened #7 "circuit playground support"
https://github.com/Microsoft/uf2-samd21/compare/master...adafruit:master

both bossa/msc tested and working, ready for trying out by pxt folks!

CDC+MSC works great - we'd prefer to use that since it maintains arduino support and works great with all OS's (win 7/10 doesnt need a special driver)

@mmoskal i can do a pull req or you can grab the commits yourself :)

[2016-12-21 18:29] ladyada opened #8 "add warning/indicator for enumeration failure"
most customer confusion comes from charge-only cables.
lets have a 10-second enumeration timeout and warn the customer something went wrong by blinking the red LED instead of pulsing.
for cplay express i can have the neopixels warn, or even have a failure-tone beep

[2017-01-06 22:00] ladyada opened #9 "node v4.2.1 strict complaint"
heya just tried to build and got

[code]

fixed by adding "use strict" on the first line of gendata.js - @mmoskal  let me know if you want me to commit this

[2017-01-06 22:21] #9 closed, assigned to nobody

[2017-01-07 00:11] riknoll opened #10 "Flashing circuit playground from Android"
Definitely not high priority, but I tried connecting the circuit playground to my phone to see if it would appear as a USB drive and let me flash it. Unfortunately, the OS doesn't seem to recognize it as a mass storage device. Instead I get a notification saying that there is a connected USB device and asking what I'd like to do with it. Choosing "Transfer files" ultimately causes the circuit play

[2017-01-11 21:25] riknoll opened #11 "File too large warning on Windows"
When copying a UF2 file generated by PXT onto the circuit playground, I get this error:

![file_too_large](https://cloud.githubusercontent.com/assets/13754588/21866978/252096b2-d801-11e6-8cd1-1ff446c3ac36.PNG)

The file does get flashed correctly despite the error.

[2017-01-12 14:00] #11 closed, assigned to nobody

[2017-01-19 17:53] #8 closed, assigned to nobody

[2017-01-20 01:21] samelhusseini opened #12 "All neopixels Fading red in bootloader mode"
Can we have the bootloader fade all the Neopixels red when its in bootloader.
That way its easy to know when you've reached it.

[2017-01-20 16:24] pelikhan opened #13 "Blink the status LED when flashing over HID"
.. to indicate that something is happening.

[2017-02-05 02:50] #7 closed, assigned to nobody

[2017-02-05 02:53] ladyada opened #14 "Support on linux / ChromeOS"
heya doing the production test procedure - we use a raspberry pi to program and test but oddly enough can't get bossac to recognize the board. it does show up as a CDC device but doesn't reply to serial writes, so its something 'early' in the enumeration setup?

i'd like to support linux, at least raspi, if possible!

@mmoskal do you need a raspi3 to test with?

[2017-02-06 11:44] #12 closed, assigned to nobody

[2017-02-06 19:39] #10 closed, assigned to nobody

[2017-02-07 04:30] #14 closed, assigned to ladyada

[2017-02-19 17:13] tannewt opened #15 "Clear cplay NeoPixels before reset out of bootloader."
The green neopixels stick around after a successful flash with bossac and MSC. Instead, they should be turned off before restarting.

[2017-04-26 22:08] tannewt commented on #15
This is fixed for MSC but still broken for bossac/Arduino.

[2017-04-27 10:14] #15 closed

[2017-04-27 10:15] mmoskal commented on #15
Thanks, good catch!

[2017-04-28 06:55] tannewt commented on #15
No problem. Thanks for the quick fix!

[2017-05-01 12:55] #13 closed

[2017-05-01 12:55] pelikhan opened #20 "bin-README.md still used?"
We do not have binary releases anymore, @mmoskal do you want to keep it?

[2017-05-01 12:58] mmoskal commented on #20
I would leave it in case someone else wants to do binary releases.

[2017-05-12 12:31] #20 closed

[2017-05-12 12:33] mmoskal opened #21 "problem with long file name renames"
When one uses `Save as` on a download in Edge or IE, it does something like the following:

[code]

The last rename fails, probably due to lack of VFAT support.

Of course the UF2 file is written and everything works but we get an ugly error message.

[2017-05-12 14:25] #21 closed

[2017-06-01 21:12] microsoftsam opened #22 "Network profiles showing up on Mac"
Circuit Playground / Arduino Zero boards are showing up in as a Network profile on my Network settings on a Mac.
It's unclear to me when they're created, but I have a good odd 50 of them. It seems to me that it thinks the device is a Modem.

![screen shot 2017-05-31 at 2 00 35 pm](https://cloud.githubusercontent.com/assets/16690124/26700978/383731d8-46d4-11e7-8e00-8604d0d01c63.png)
![screen shot 2

[2017-06-01 21:37] ladyada commented on #22
maybe a serial port thing? on windows we get multiple COM ports, they're not harmful but they exist :)

[2017-06-01 22:10] jamesadevine commented on #22
Yup! Pretty sure this is Serial ports :) I have at least a trillion entries for CMSIS-DAP (micro:bit)

Not sure there is anything that can be done, as @ladyada said, they're not harmful - but they are spurious.

James.

On 1 Jun 2017, at 22:37, ladyada <notifications@github.com<mailto:notifications@github.com>> wrote:

maybe a serial port thing? on windows we get multiple COM ports, they're not ha

[2017-06-05 11:09] mmoskal commented on #22
Attached is a node.js script which removes all `usbmodem` network interfaces.

[clean-ifaces.zip](https://github.com/Microsoft/uf2-samd21/files/1051833/clean-ifaces.zip)

I believe new entries are created when we change USB ID or in similar circumstances, so regular users are unlikely to accumulate 170 of these like I did. As it seems the same thing happens on microbit/DAPLink and also on the AVR

[2017-06-05 11:09] #22 closed

[2017-07-06 20:12] ericbaril72 opened #23 "Atmel Studio support --> How-to (enhancement & solution)"
Solution:
Atmel studio supports external makefiles projects( using an available Extension ).

**-- Importing the project --**
1- Tools/Extension and Updates --> Available Downloads -->"Create Project from Makefile"
2- Tools/"Create Project from Makefile" --> Select the directory whre it is located

**-- Building the bootloader project --**
/Build/Build

**-- Creating the .uf2 files --**
/Debug/Opt

[2017-08-10 14:12] PTS93 opened #24 "Linker error - section .binfo LMA ... overlaps section .relocate LMA"
While trying to compile with _any_ board configuration f.e. `make BOARD=generic`.
I get an error at the linker phase saying
`ld: section .binfo LMA [0000000000001ff0,0000000000001fff] overlaps section .relocate LMA [0000000000001fdc,00000000000020b3]
`
I'm running:
node: v6.11.1
arm-none-eabi-gcc: 5.4.1
OpenOCD: 0.9

Ubuntu 17.04

[2017-08-10 18:43] mmoskal commented on #24
The binary is too large. Please try newer GCC (I'm using 6.3.1) and let me know if it works.

[2017-08-16 21:34] PTS93 commented on #24
Indeed, using GCC 6.x solved the issue.

[2017-08-16 21:34] #24 closed

[2017-09-11 17:47] dhalbert opened #25 "CDC with MSC on Windows"
@mmoskal Hi, I'm debugging some issues with the Adafruit board drivers on Windows 7 and UF2. For some people, installing the drivers prevents the UF2 MSC `xBOOT` drives from appearing when the bootloader is enabled. For other people (e.g., @ladyada) they still see the `xBOOT` drives even with the drivers installed. I've duplicated the problem on a fresh Win7 installation, but it doesn't show up co

[2017-09-13 16:31] mmoskal commented on #25
Unfortunately, I'm not much of a Windows driver expert. I thought things were working, as reported by @ladyada, but it seems they might not. It's clearly possible to make it all work, as evidenced by ARM MBED drivers, which support both MSC and CDC (and HID), but I'm not quite sure how.

[2017-09-13 16:47] ladyada commented on #25
it does work but only if you do a golden path install. deviations dont work. we're not sure whts up but somehow it seems (i think) that the win7 os attaches the CDC driver to the MSC endpoints!

[2017-10-07 03:28] dhalbert commented on #25
We fixed this by always specifying `MI` in the device descriptors in the `.inf` file. See https://github.com/adafruit/Adafruit_Windows_Drivers/pull/5.
So now we have entries like
[code]
Previously, for some drivers, we only had something like:
`USB\VID_239A&PID_0013`
Composite devices that did not specify MI=00 were being installed and then were hiding and/or confusing the multiple interfaces pres

[2017-10-07 03:28] #25 closed

[2017-10-20 23:18] deshipu opened #27 "Can't set the fuses"
The `scripts/dbgtool.js fuses` command fails for about half of the chips that I have with:

[code]

It seems like they are somehow locked, but doing `chip-erase` on them doesn't seem to help.

[2017-10-21 13:32] mmoskal commented on #27
Could you try IBDAP? I've never used stlink.

[2017-10-21 18:13] deshipu commented on #27
I only tried with stlinkv2 and j-link, I don't have ibdap, but I thought that the protocol is the same no matter what programmer is used?

[2017-10-21 18:48] mmoskal commented on #27
It should be. I understand it works on some of your chips? Try comparing log output.

My suspicion about jlink was the frequency - I think it should be 1 MHz. But I'm not really much of a SWD expert.

[2017-10-25 22:18] tballmsft opened #28 "compiled and flashed UF2 for Arduino Zero, no go"
I followed directions, built the binary for UF2 for Zero, successfully flashed it, but afterwards Zero doesn't show up as a drive.

[2017-10-25 22:20] tballmsft commented on #28
I built on Windows... Richard is trying on Unix.

[2017-10-25 22:42] tballmsft commented on #28
Sam built on MacOS and I tried his INO. still same issue - flashed and verified, but no MSC

[2017-10-25 22:50] tballmsft commented on #28
Sam flashed and verified on MacOS - same issue there - no MSC.

[2017-10-25 23:06] tballmsft commented on #28
comparison point: I was successful with MKR1000.

[2017-10-25 23:23] tballmsft commented on #28
OOPS. I was programming the debug chip... oh well. It worked on the native. Live and learn...

[2017-10-25 23:28] #28 closed

[2017-10-26 05:59] mmoskal commented on #28
How did you program the wrong chip? Was it using openocd? Or arduino sketch?

[2017-10-26 06:09] microsoftsam commented on #28
Using Arduino Sketch. The Zero has two USB ports. It's important to use the right one. Both @tballmsft and I made the same mistake :P

[2017-10-26 19:44] mmoskal commented on #28
It's actually possible to program zero through both, but you have to choose different programmer.

Maybe the instructions should say: first make sure blinky works?

[2017-12-18 08:14] awatterott opened #29 "Compiler flags"
No long-calls will reduce the code size. Is there a reason why `-mlong-calls` is set?

`-nostartfiles` can also be set, because `startup_samd21.c` includes everything. This will also reduce the size.

[2017-12-18 14:54] mmoskal commented on #29
Thank you, it saves us 400 bytes! I'm not sure where it came from, must have been in the original Atmel example.

[2017-12-18 14:54] #29 closed

[2017-12-18 17:00] ladyada commented on #29
wow that's great - @mmoskal anything we wanted to add? im doing an update to the tester/programmer so now is a good time to tweak UF2

[2017-12-18 17:00] awatterott opened #30 "USB problems"
We are currently testing the bootloader, but had some problems. For example the USB Descriptor Strings are not correct and if we access the USB device under Windows with the [USB Device Tree Viewer](http://www.uwe-sieber.de/usbtreeview_e.html) then the USB mass storage device will not work after the access.

For the string problem, I think it is the transmitted length here:
https://github.com/Micr

[2017-12-18 17:06] awatterott commented on #29
We are working on binary file support, which is working but there seems to be some general USB problems. I have opened an [issue](https://github.com/Microsoft/uf2-samd21/issues/30) for it.

[2017-12-18 17:16] mmoskal commented on #29
@ladyada I'm working on handover from application to bootloader, so we can flash from PXT without tapping reset. It is working for me (with my most recent checkins) but if you give me two more days, I can test it a little bit better.

[2017-12-18 17:18] mmoskal commented on #27
Closing due to no further input.

[2017-12-18 17:18] #27 closed

[2017-12-18 17:20] mmoskal commented on #30
Does it fix the issue for you? There's a separate limit on transmission length in sendCtrl(), but probably not related.

[2017-12-18 17:22] deshipu commented on #27
I have no further information to provide, it doesn't mean that the problem is solved, though.

[2017-12-18 17:23] mmoskal commented on #27
so there's no interesting difference in openocd logs between chips that work and ones that don't?

[2017-12-18 17:27] awatterott commented on #30
The modification fixes the string transmission problem. But there is still another problems, which can be reproduced with the USB Device Tree Viewer.

[2017-12-18 17:27] deshipu commented on #27
No, except for that moment where it fails writing because it's protected.

[2017-12-18 17:37] mmoskal commented on #27
I think Atmel studio can set these fuses. You can check if it works. @ladyada have you ever seen something like this?

[2017-12-18 17:39] deshipu commented on #27
Unfortunately I don't have access to a Windows machine to try Atmel Studio right now, I will try when I get an occasion.

[2017-12-18 17:50] ladyada commented on #27
ya, openocd is flakey and not well supported for samd21, we recommend jlink.exe or atmel studio only!

[2017-12-18 19:52] awatterott commented on #30
@mmoskal Could you reproduce the issue?
We have made also a [CDC+MSC bootloader](https://github.com/watterott/SAM-BAR), which is based directly on ASF and there we have no problems, but it is also much bigger. On our bootloader I have also not seen any limitations with CDC+MSC with or without installed drivers on a Windows OS.

[2017-12-18 20:02] mmoskal commented on #30
Unfortunately I have no Windows machine to test it on right now...

________________________________
From: Andreas Watterott <notifications@github.com>
Sent: Monday, December 18, 2017 7:52:20 PM
To: Microsoft/uf2-samd21
Cc: Michał Moskal; Mention
Subject: Re: [Microsoft/uf2-samd21] USB problems (#30)

@mmoskal<https://github.com/mmoskal> Could you reproduce the issue?
We have made also a CDC+MSC b

[2017-12-20 11:35] mmoskal commented on #30
@awatterott it's possible it's related to this:

https://stackoverflow.com/questions/3739901/when-do-usb-hosts-require-a-zero-length-in-packet-at-the-end-of-a-control-read-t

I just did a fix in Codal. You can try to do something similar in bootloader and see if it works: https://github.com/lancaster-university/codal-samd21/commit/ed3d6de7c8836a4248a610e2ac986d807907746a

[2017-12-20 20:17] awatterott commented on #30
I tried different things, but I dont find a cause for the issue.
Could you reproduce the behavior?
I can make a pcap log for wireshark, if it helps?

[2017-12-21 11:39] awatterott commented on #30
I made some progress. It has to do with the descriptor strings. If I remove all strings from the device descriptor then there are no issues.

[2017-12-21 14:15] deshipu commented on #27
I now confirmed that all of those chips that didn't work with openocd can be programmed with atmel studio. I'm sorry for the noise.

[2017-12-21 17:33] awatterott commented on #30
The issue appears when the host tries to read string descriptors that do not exist. Under Windows for example the string with index [0xEE](https://msdn.microsoft.com/en-us/library/windows/hardware/ff537430(v=vs.85).aspx). Currently the [STALL](https://github.com/Microsoft/uf2-samd21/blob/master/src/cdc_enumerate.c#L765) sending seems to make the problems.
Here is a workaround, which I have tested

[2018-02-11 18:23] awatterott commented on #30
I have reviewed the USB issues with a hardware analyzer and the problem is, that a wrong string descriptor is sent after STALL.
https://github.com/awatterott/uf2-samd21/commit/279da2a3824d44bf8e4d0f35321cb2b68dad37eb
Should I create a PR for this.

[2018-02-19 08:31] awatterott commented on #30
@mmoskal Did you have time to look into this?  I think it is important to fix the bug, because it will bring the device to freeze/hang.

[2018-02-19 15:33] pelikhan commented on #30
@awatterott could you prepare a PR?

[2018-02-19 16:16] awatterott commented on #30
Sure, it is PR https://github.com/Microsoft/uf2-samd21/pull/33

[2018-02-21 07:20] #30 closed

[2018-03-07 04:42] machinehistories opened #35 "Bluno m0 board"
can you tell me if this board can work with the pxt maker using the uf2 bootloader The board is referred to as an M0 but not as samd21 [DFRobot bluno M0 mainboard.](https://www.dfrobot.com/product-1651.html) Thanks

[2018-03-07 05:38] mmoskal commented on #35
Unfortunately, this bootloader only supports the ATSAMD21 chips. Also, neither PXT nor the codal runtime on which it is based currently supports the Nuvoton chip.

[2018-03-07 05:38] #35 closed

[2018-03-07 22:46] machinehistories commented on #35
Thanks for the prompt reply. - jason

On Tue, Mar 6, 2018 at 9:38 PM, Michał Moskal <notifications@github.com>
wrote:

[2018-03-20 01:36] brendanvanbreda opened #38 "Single Button Press into Bootloader"
I am attempting to build a custom binary release for a custom board, with [reference](https://makecode.com/blog/one-chip-to-flash-them-all) about the reset procedure.

When looking through [uf2.h](https://github.com/Microsoft/uf2-samd21/blob/master/inc/uf2.h)
[code]

If this value is set to 0, should the expected result be that the bootloader will become active on a single reset ?

As when working

[2018-03-20 09:24] mmoskal commented on #38
To get single-reset behavior on Arduino-generated binaries you will need to set USE_SINGLE_RESET to 1, and also modify:
[code]
to
[code]
Let me know if it didn't work!

[2018-03-20 09:24] #38 closed

[2018-03-22 08:45] brendanvanbreda commented on #38
Awesome thanx @mmoskal  worked as expected.

[2018-05-03 21:22] PTS93 opened #41 "Entering bootloader from application"
I was wondering if its possible that the user application can start the bootloader?
I would like a software function that when called will enter my board into bootloader mode without the need to trigger the reset pin.

I'm using the Arduino environment with a SAMD21 board. I'dont have much knowledge of low level MCU programming but shouldn't I be able to call an assembler instruction to jump code

[2018-05-03 21:32] mmoskal commented on #41
Try the following:

[code]

[2018-05-04 20:55] PTS93 commented on #41
This is working great. Thank you for the quick response!

[2018-05-04 20:55] #41 closed

[2018-05-06 16:16] ericbaril72 commented on #41
@Michal,

What is the use of the first line ?
I have been using just the second one for as long as I remember . Possible unwanted results ?

Sent from my mobile

[2018-05-06 17:00] mmoskal commented on #41
The first line tells the bootloader to not enter the application, regardless of other configuration. There is another value, `0xf02669ef` that tells it to do enter application immediately. Both of these are cleared after one use.

With PXT binaries, the bootloader is configured not to enter the application until a second reset or when no USB is connected. With other binaries, you need to tap the r

[2018-05-08 12:03] MartinL1 opened #42 "UF2 Bootloader UART Support"
Thank you to everyone for the work on the UF2 bootloader.

I'm using a SAMD51 (SAMD51J20A) custom board. The USB CDC works perfectly with the Arduino IDE, however I've been having some trouble getting the UART support to work.

I powered the board without the native USB connection to prevent enumeration, put my custom board into bootloader mode with a double tap of the reset button, then attempted

[2018-05-08 15:06] MartinL1 opened #43 "48MHz GCLK0 Output on pin PB14"
Shouldn't the lines 8 and 9 in the "init_samd51.c" file be commented out?

[code]

It's just that these lines will cause the SAMD51 to output GCLK0 at 48MHz on port pin PB14, whenever the board's in bootloader mode. This is digital pin D5 on the Metro M4.

[2018-05-08 15:16] dhalbert commented on #43
This is was merged from https://github.com/adafruit/uf2-samd21, so we (Adafruit) will look at this. This looks a debugging leftover.

[2018-05-08 15:17] dhalbert commented on #42
This was merged from https://github.com/adafruit/uf2-samd21, so we (Adafruit) will look at this. This looks a debugging leftover. @MartinL1, feel free to submit issues there related to SAMD51. I'll create new issues for us in our repo.

[2018-05-26 18:36] ladyada opened #44 "rename/update for '51"
just realized this repo still mentions/called samd21 but it supports samd51 too now. wanna rename to uf2-samdx1 and/or update description?

[2018-05-27 18:39] mmoskal commented on #44
Good idea, done!

[2018-05-27 18:39] #44 closed

[2018-06-09 03:29] stevenj opened #45 "Can not build for a board that does not have a status LED."
The SAMD21 board i am porting to does not have a status led.  The software, as is, can not build without one.

This problem is addressed by #46

[2018-06-09 03:48] mmoskal commented on #45
Thank you for the fix!

[2018-06-09 03:48] #45 closed

[2018-06-11 10:54] stevenj commented on #4
Suggestion to implement this.  Use the "RESERVED" area of the vector table.  But the application has to set a name there itself, it's not the bootloaders job.  Just the bootloader can read that area and get a name.

Something like this:

use:
[code]
Redefine:
* M9 as a Magic Number, to use to tell if M8-M6 hold the file name and/or file CRC.  <br> M9 = '1abe1ed' + 4 bits of flags.
  * Bit 0 = Name

[2018-06-22 01:08] sabas1080 opened #49 "Support chips of 32kb??"
Hi

Is it possible to support 32kb microcontrollers like the SAMD21E15B or SAMD21G15?

Thanks!

[2018-06-30 21:17] ademuri opened #50 "Linker error - section .binfo LMA overlaps section .relocate LMA"
I'm seeing issue #24 again. I'm using GCC 6.3.1, as suggested in the bug:

`$ arm-none-eabi-gcc --version
arm-none-eabi-gcc (15:6.3.1+svn253039-1build1) 6.3.1 20170620
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.`

And get this error:

`arm-non

[2018-06-30 21:59] dhalbert commented on #50
We (Adafruit, not MS) have been building with gcc 7.2.1 from https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads (2017q4). There was no package for bionic (18.04) in the ppa, but the xenial one works ok, or you can download the tar.gz and add it to your path manually.

2018q2 _just_ was released. I haven't tried that.

[2018-06-30 22:58] ademuri commented on #50
Ah ok, using that particular version of the toolchain worked. Thanks for the help!

[2018-06-30 22:58] #50 closed

[2018-07-27 02:40] sabas1080 opened #53 "Error in MKR1300"
Hi
I'm trying to walk this on the MKR 1300, but when trying to load via USB Storage the transfer of the uf2 file never ends

and a sketch with Arduino the next error:

[code]

Thanks

[2018-07-27 20:32] mmoskal commented on #53
Did you try on a different SAMD21 board with the same bootloader? I don't think MKR1300 should be particularly different from all the other boards...

[2018-07-27 22:15] sabas1080 commented on #53
Yes, I'm try with SAMD Sparkfun Dev

[2018-07-27 22:40] mmoskal commented on #53
Maybe you have a defective MKR1300 board?

[2018-07-28 01:51] sabas1080 commented on #53
With SAMBA working

[2018-07-30 18:15] sabas1080 commented on #53
My board defective, thanks

[2018-07-30 18:15] #53 closed

[2018-08-02 08:38] WalterPrech opened #55 "SAMD51 firmware update dual banks"
Hi,
I read, that the SAMD51 have the possibility to do firmware updates with writing the new firmware to BankA or BankB and then switching to the bank, containing the new firmware.

How to do this? Must the bootloader configuration be changed? Do you have an example for this?

[2018-08-03 05:44] mmoskal commented on #55
I don't think this is supported. @dhalbert ?

[2018-08-03 11:10] dhalbert commented on #55
I see there is such a feature in the SAMD51. But we wouldn't bother with it for a couple of reasons:
1. Our firmware loads are larger than half the NVM, so we can't use this feature.
2. Since we have a protected bootloader, a bad load can easily be recovered from.

[2018-08-14 05:41] #55 closed

[2018-08-23 13:37] dhalbert opened #56 "Some disk monitoring programs have trouble with UF2 FAT filesystem"
Several people have discovered that running programs like [AIDA64](https://www.aida64.com/) and [Hard Disk Sentinel](https://www.hdsentinel.com/) cause Windows Explorer to hang when trying to read or write files from the UF2 "filesystem".

Some reports:
https://forums.adafruit.com/viewtopic.php?f=60&t=135400
https://forums.adafruit.com/viewtopic.php?f=52&t=140056
https://forums.adafruit.com/viewto

[2018-08-30 16:42] fedorcomander opened #57 "SAMD21, update bootloader with security bit set"
Hi Guys!

Does update bootloader functionality work with security bit set???
I got mine update firmware looping at setBootProt(7); in selfmain.c

So, clearly bootprot was not changed from 2 to 7 and app restarts.

Help!
Alex

[2018-08-30 16:56] ericbaril72 commented on #57
The "Make" process for the bootloader-updater creates a specific .bin using sketch.cpp.

sketch.cpp DOES change the security bits BEFORE and AFTER updating the bootloader and finishes by "erasing itself" ( harakiri ).  This will keep the device in Bootloader mode after reset since no App is present at START_ADDRESS.

Assuming you started with a Bossac bootloader, and upload the "bootloader-updater

[2018-08-30 17:45] fedorcomander commented on #57
I don't use sketch and arduino and I am already have uf2 bootloader loaded on the samd21, security bit set and BOOTPROT fuse set to 2. So far so good.

Now i want to update bootloader with new version. I am uploading generated by make script update-bootloader-my-board.uf2... (which is compiled version of selfmain.c + selfdata.c)...

Existing uf2 bootloader loads it in flash and starts it as usual

[2018-08-30 17:50] fedorcomander commented on #57
What i also see, sketch.cpp does

   NVIC_SystemReset();

and selfmain.c

resetIntoApp();

at the end of setBootProt() function....

[2018-08-30 19:00] fedorcomander commented on #57
Works fine if no security bit set btw.

[2018-08-30 19:27] fedorcomander commented on #57
With security bit set, CPU is able to write flash... I just cant set BOOTPROT fuse to 7 for reflashing the bootloader. I think problem is in auxilary space, it cant be changed with SSB set.... And thats where fuses live. Bummer.

[2018-08-30 19:35] dhalbert commented on #57
Yes, you're right. I was over-interpreting. I don't really see that in the datasheet, but it's mentioned here: https://gist.github.com/cmaglie/c411621b8d49494faeb7869ad59aa6b6.

Would you close the issue if you're satisfied? Thanks.

[2018-08-30 19:36] fedorcomander commented on #57
Yeah, its a chip limitation, not a bootloader.

Thanks for your time guys.

[2018-08-30 19:36] #57 closed

[2018-09-17 12:29] dhalbert commented on #56
AIDA64 has a beta that is supposed to fix this: https://forums.aida64.com/topic/4296-uf2-bootloader-usb-drive-and-aida64-cause-explorer-to-freeze/?do=findComment&comment=20455

[2018-09-17 14:58] ladyada commented on #56
neat!

[2018-09-20 14:07] iddar opened #58 "uf2 write file fail"
Hi, I have a new Arduino mkr1000 wifi after connecting in uf2 boot mode and drag a new uf2 sketch the connection fail a see this message.

- UF2 Bootloader v2.0.0-12-g7e6819e-dirty SFHWRO
- Model: Arduino MKR1000
- Board-ID: SAMD21G18A-MKR1000-v0
- OS: Mac OS X High Sierra

![2018-09-20 09 02 58](https://user-images.githubusercontent.com/199103/45823738-ffb4b180-bcb3-11e8-8d82-b4b5cecffab4.jpg)

[2018-11-06 14:06] PTS93 opened #59 "Can't attach more than 2 devices in bootloader mode"
I have an odd issue.
I'm using multiple Adafruit Metro M0 running an unmodified `metro_m0_0-v2.0.0-adafruit.5-4-g0a2294c`
Whenever I connect 2 Metros and put them in bootloader mode. A third or fourth Metro will not properly enumerate anymore. When I put the third in bootloader mode it just starts to flash rapidly. No MSC device popping up and no serial device either, as if it isn't connected to a

[2018-11-06 16:37] PTS93 commented on #59
After playing a while with it I noticed it is not a hard limit. I even got to the point where no Metro is showing up anymore and all flashing rapidly. After a reboot all Metros are good again.
I feel like it correlates at least somehow to how often Metros connected as bootloaders but I'm not sure on that. So far it seems really random.

[2018-11-06 17:07] mmoskal commented on #59
I believe they all use the same serial number. That might be a problem in this scenario.

[2018-11-06 17:34] PTS93 commented on #59
serialNumber and pnpId are different for each
I haven't checked but I think the serial number comes from the 128bit uuid of the samd.

[2018-11-06 18:08] dhalbert commented on #59
`/var/log/syslog` will show info about what the MSC device is reporting, including serial numbers, and might also show indications of what's going wrong on the boards that aren't showing up properly.

[2018-11-06 18:38] PTS93 commented on #59
Thank @dhalbert that was a good hint.
Whenever a Metro goes havoc I get the messages below.

[code]

[2018-11-06 18:51] dhalbert commented on #59
If you do a websearch for "Not enough bandwidth for new device state", it comes up in other situations with multiple USB peripherals. I don't think this is a UF2 issue. It looks like if you're using a USB3 hub plugged into a USB2 port, you might see this, or it might happen if there are multiple devices on the same USB3 controller. If this is a desktop with many USB ports, try making sure you spli

[2018-11-06 19:10] PTS93 commented on #59
https://bugzilla.redhat.com/show_bug.cgi?id=1411604

It seems this an issue that happens with a lot of different devices.
I'm guessing the arduino core is running the virtual cdc at low speed and UF2 as full speed?

Nontheless this issue definitely originates from the Linux kernel.
I was able to "fix" it and it is fairly odd. So far I was using a USB3.0 Hub connected to a USB3.0 port. Now I attach

[2018-11-06 19:10] #59 closed

[2018-12-10 22:30] matt448 commented on #42
I ran into the same issue but with the SAMD21 chip. Making the code change that @MartinL1 recommended does get it to work but only on the second attempt which obviously isn't optimal. I discovered the first attempt to communicate with the chip over UART fails no matter what you ask it to do (info, read, erase, write). As a temporary work around I'm doing two info requests and then doing the write.

[2018-12-21 04:58] TamojitSaha commented on #38
Is it possible to have a key combination to enter into bootloader mode?

[2019-01-04 17:13] mmoskal commented on #38
You could probably quite easily modify the bootloader to support that - just configure the pin as input with a pull up (or pulldown, depending on how your button is wired) and return at the beginning of `check_start_application()` when your button is pressed.

[2019-01-10 07:01] TamojitSaha opened #64 "Secure boot support"
I would like a support for secure boot option by bootloader signing from external authentication ic like ATECC508 or ATSHA204

For reference please see the support for NRF52 [here](https://devzone.nordicsemi.com/b/blog/posts/getting-started-with-nordics-secure-dfu-bootloader)

[2019-01-10 16:02] mmoskal commented on #64
You could in principle do it even without additional chips - especially on SAMD51, which has PUKCC - an embedded crypto library.

You would need to write-protect the bootloader (we already do that), and then have the bootloader restore the protection on every startup, unless a special signed update package is found somewhere.

I guess it will be somewhat difficult to get it all right and secure th

[2019-01-10 16:02] #64 closed

[2019-03-28 21:13] dzindra opened #69 "Invalid files on FAT filesystem"
It seems like PR #68 broke something in FAT filesystem implementation.

`INFO_UF2.TXT` file contains part of CURRENT.UF2 data (UF2 block no.2) instead of text info. Same goes for `INDEX.HTM` file (UF2 block no.3). `CURRENT.UF2` file starts with block no.4 and has 2048 bytes of zeroes at the end.

When I compiled and uploaded v3.2.3 instead of master everything works fine.

There might be an issue

[2019-03-28 23:38] #69 closed

[2019-04-16 13:15] dhalbert opened #70 "UF2 BOOT drives fail to handle SMART requests appropriately"
See https://github.com/adafruit/uf2-samdx1/issues/50. Programs that make SMART requests to UF2 BOOT drives can cause the drive to lock up, not appear, etc. I'll look at this, but if one of you knows an obvious fix, let me know. Will PR any fixes back to you.

Extensive testing by @vitorio described in https://forums.adafruit.com/viewtopic.php?f=60&t=149791&p=743111#p743089. I also duplicated this

[2019-04-16 13:51] dhalbert commented on #70
Trying a few USB sticks. Most respond like this:
[code]

A high-quality Samsung stick I have does this:
[code]

[2019-04-16 15:01] mmoskal commented on #70
Probably would be best to compare usb trace from the Beagle usb debugger from the cheap pendrive and CPX.

if these smart tools work on macos i can do that

[2019-04-16 15:03] dhalbert commented on #70
@mmoskal I was just planning to do that, with the wireshark USB tracer. But if you have time to do this soon, and have the expertise in your group, I would leave it to you. We've seen a recent noticeable increase in the number of people who are hitting this problem.

[2019-04-16 20:17] mmoskal commented on #70
Sorry, on macOS all I get is
[code]

[2019-04-16 21:14] vitorio commented on #70
Hi @mmoskal, looks like you're using a newer `smartctl` than we were!

The [manpage](https://www.smartmontools.org/browser/trunk/smartmontools/smartctl.8.in) for `smartctl` 7.0 says a couple things: first that SCSI support under Darwin isn't implemented, and second to get SMART data from USB drives you need to install a driver: https://github.com/kasbert/OS-X-SAT-SMART-Driver

Installing that driv

[2019-04-16 23:48] dhalbert commented on #70
I have a test bootloader that I've passed to @vitorio and another user. It acts more like most USB sticks and card readers, returning a malformed response to MODE SENSE for page 0x1c, which causes `smartctl` (and presumably other SMART-aware software) to give up trying to read SMART data. If it works for the users, I'll PR it.

[2019-04-17 22:58] alexwhittemore commented on #42
How is `baud_val` calculated, anyway? I'm working on a custom SAMD21 board, where I need HW UART bootloader support. I threw a little line into the bootloader:

[code]

This spits out "ready" over and over again until USB enumerates.

With the original line,

`uart_basic_init(BOOT_USART_MODULE, 50436, BOOT_USART_PAD_SETTINGS);`

I get an output at 476baud. With the new line from above,

`uart_basi

[2019-04-18 14:10] MartinL1 commented on #42
@alexwhittemore

The asynchronous arithmetic baud rate is calculated as follows:

baud rate = (f(ref) / s) * (1 - BAUD/65536)

where:
f(ref) = reference frequency = 48MHz
s = number of samples per bit = 16
BAUD = value in the BAUD register = 63018

baud rate = (48MHz / 16) * (1 - 63018 / 65536) = 115264bps = approx. 115200bps

The calculation is detailed on page 459 of the SAMD21 datasheet, or pag

[2019-04-18 14:46] matt448 commented on #42
@alexwhittemore The Atmel ASF framework calculates it like this:

`65536 - ((65536 * 16.0f * CONF_SERCOM_0_USART_BAUD) / CONF_GCLK_SERCOM0_CORE_FREQUENCY)`

`65536 - ((65536 * 16.0 * 115200) / 48000000) = 63019`
`65536 - ((65536 * 16.0 * 115200) / 8000000) = 50436`

That 50436 value was hard coded based on the clock running at 8MHz. It wasn't updated when the bootloader was changed to run at 48MHz

[2019-04-18 17:13] alexwhittemore commented on #42
Thank you for the super detailed responses! The Arduino core code has the same lines in it, with a bit more in the way of comments including those formulas, which I noticed right before bed last night. Of course, the values above calculate out correctly. Being unable to achieve expected output baud rate, I just started stabbing in the dark. I eventually tried `uart_basic_init(BOOT_USART_MODULE, 6,

[2019-04-18 18:29] matt448 commented on #42
@alexwhittemore I would recommend you try using the [BOSSA ](https://github.com/shumatech/BOSSA) utility to confirm that serial firmware uploads work. That way you aren't troubleshooting your IDE at the same time. I would just try doing a --info and see if you can talk to the bootloader:

`bossac --debug --port=tty.usbserial-XYZ123 --info`
or
`bossac --debug --port=COM45 --info`

The main problem

[2019-04-18 19:01] alexwhittemore commented on #42
@matt448 Thanks once again for the extremely useful suggestion! I'm doing some experimenting with bossa right now to test theories and baselines.

That's extremely interesting that your board of choice though is the ItsyBitsy M0 since it suffers most of the same problems/required modifications as my board. For instance - it looks like uf2, by default, uses SERCOM3 pads 1+2 for UART. So either you

[2019-04-18 19:45] matt448 commented on #42
@alexwhittemore I reconfigured to use different pins. They are alternate SERCOM0 pins. I created a fork with my changes if you want to check it out: https://github.com/matt448/uf2-samdx1
I modified uf2.h and created a few different board definitions so I had some options for which pins to use with the uart bootloader. I also added some notes to the top of the README with example bossac commands.

[2019-04-18 21:04] alexwhittemore commented on #42
You're the best! If this doesn't completely solve my problem, it'll at least get me super far.

[code]

That sure looks suspicious. I noticed those lines in the SAMD51 `board_config.h`s but I assumed they weren't relevant to the SAMD21 since the "default config" in `main.h` doesn't include them. But SERCOM clocking sure sounds like a relevant issue for me.

[2019-04-19 00:41] alexwhittemore commented on #42
@matt448 Sorry for repaying your kindness with an inbox flood ;)

So I went through your examples with a fine-toothed comb until they all worked and I understood each change pretty well. Then I adapted them to my own bootloader repo and...

EXACT same behavior. 78baud output from the microcontroller in BL mode.

Then I figured, the only reason I have my own clone of the repo in the first place was

[2019-04-19 04:30] alexwhittemore commented on #42
@dhalbert FWIW, this issue seems pretty well characterized at this point and I'm quite confident the original correction is accurate and adequate. I'm seeing the same first-attempt-failure as @matt448 and don't quite know what's going on there, but I'm also pretty comfortable by now with this subsystem. Is resolution waiting only on a pull request? I'd love to put one together to fix this, and add

[2019-04-19 12:32] dhalbert commented on #42
@alexwhittemore Feel free to submit a PR either to our fork or microsoft/uf2-samdx1. We try to keep in sync with each other. Thanks to you and @mat448 for your thorough investigation.

[2019-04-29 21:31] sslupsky opened #72 "dbgtool.js failes"
I am attempted to burn the bootloader to a custom SAMD21 board.

When I "make r", the code compiles and I receive an error message when I get to the burn stage:

node scripts/dbgtool.js fuses
File: fuses
Fatal error: openocd not installed in Arduino

I looked into the dbgtool.js file and there are a couple hard paths that are not in my Arduino configuration:

https://github.com/Microsoft/uf2-samdx

[2019-04-29 22:13] sslupsky commented on #72
I programmed a simple sketch using vscode-arduino and it programmed and ran.

For anyone else coming across this problem, it seems you just simply change the paths in the scripts to resolve the issue(s).

BTW, this is by far the best approach to an embedded bootloader I have come across.  Kudos to you and thank you and Adafruit.

[2019-06-22 11:22] il3ven opened #74 "Firmware update on SAMD51 using WebUSB"
What commands should I send to SAMD51 using WebUSB API to flash firmware using chrome just like Makecode ?

[2019-06-23 03:13] mmoskal commented on #74
The protocol is described here: https://github.com/microsoft/uf2/blob/master/hf2.md

[2019-06-23 03:13] #74 closed

[2019-09-13 14:32] IoTPanic opened #76 "Bootloader Fails to Compile with arm-none-eabi-gcc 9"
Hi All!

Full disclaimer, I am using this uf2 code to help me understand and write my own boot loader, I am a n00b atm.

So I started working with this uf2 bootloader, and the first wall I hit is when I run `make` in the project directory, I get the following output-
[code]

So, my understanding is in the line `__ASM volatile ("MSR msp, %0\n" : : "r" (topOfMainStack) : "sp");` where the stack poin

[2019-09-13 14:44] dhalbert commented on #76
Which version of the ARM toolchain are you using? We compile with 7.3.1 (7-2018-q2), downloadable from here: https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads

[2019-09-13 15:00] IoTPanic commented on #76
I was using 9.2.0, so I should just downgrade instead of getting it to compile with 9.2.0?

`__ASM volatile ("MSR msp, %0\n" : : "r" (topOfMainStack) : "sp");`

And I have a question about this line, I see it's using the `MSR` instruction to move a value into the `msp` register to set the stack pointer, I am unfamiliar with inline assembly, I see that the %0 is passing in `topOfMainStack` without

[2019-09-13 15:13] IoTPanic commented on #76
Removed the `: "sp"` and now I have a successful compile. I am awaiting response from my last comment as to what it was doing in the instruction, I don't want to make a small assembly change that will cause a issue down the road.

[2019-09-13 18:16] IoTPanic commented on #76
Ah, okay, apologies for the noobishnes, I see at the end of the extended in line assembly you put together the clobbered register list.

[2019-09-13 18:16] #76 closed

[2019-10-08 12:11] wallarug opened #78 "Building for SAMD51 without UART"
This is a query - rather than an issue.

How do you build a SAMD51 bootloader without the USART functionality?

I tried just removing all the arguments but it looks like they get re-added in anyway,

Any assistance would be great.

Thanks in advance.

[2019-10-08 12:19] dhalbert commented on #78
Nope, we haven't tried this, since the 16kB allocated for the SAMD51 bootloader means we haven't had to try to squeeze it to save space.

[2019-10-08 12:21] wallarug commented on #78
So does that mean it is not implemented / cannot be done at this very moment in the same way as SAMD21?

[2019-10-08 12:23] dhalbert commented on #78
No, it just means I haven't tried it :). Sounds like a bug.

[2019-10-08 12:27] wallarug commented on #78
😎

Righto - well when you do try - this is what happens...

![image](https://user-images.githubusercontent.com/11770912/66395347-e7304a00-ea22-11e9-8f35-06e31a0808ff.png)

It complains that:

* BOOT_GCLK_ID_CORE
* BOOT_GCLK_ID_SLOW
* BOOT_USART_BUS_CLOCK_INDEX

... are not defined.

Interesting that it doesn't complain about the other ones.

[2019-10-08 12:28] dhalbert commented on #78
`USE_UART` is by default set to 0 in `inc/uf2.h`. The `#if`'s that use it seem to be OK. What are you changing that causes the errors above? I'm a little confused.

[2019-10-08 12:31] wallarug commented on #78
I'm going from this config:

[code]

To this config:

[code]

Nothing too spectacular 😄 .

[2019-10-08 12:44] wallarug commented on #78
It's easy to fix to make it compile again... it's just a question of is it providing the correct functionality.  It would appear that UART was always building in anyway for all bootloaders but just not running (depending on processor and configuration).

https://github.com/microsoft/uf2-samdx1/blob/master/src/usart_sam_ba.c#L120

[code]

[2019-10-22 10:50] gotfredsen opened #79 "FAT32"
Can I suggest an upgrade to the bootloader allowing the device to **be seen as a FAT32 device** instead of FAT16.
iOS13 allows to see FAT32 devices, but not FAT16. If it was possible to change to FAT32, it would probably be possible to program a device using the USB connection on an iPhone or a iPad (with a OTG cable).

I have tried changing quite a bit in the `fat.c` file (mostly expanding the `F

[2019-10-22 11:01] gotfredsen opened #80 "SAMD SDU library"
Can I suggest an option in the bootloader to choose to have the SAMD SDU library included in the bootloader. Possibly to choose whether to have or not using a `#define` in the `uf2.h` file.

I have tried to include the 4000 bytes from [SAMD SDU library](https://github.com/arduino/ArduinoCore-samd/tree/master/libraries/SDU) in multiple places, but without luck. I tried to change the `.ld` files to

[2019-10-22 12:50] dhalbert commented on #79
For CircuitPython, we are successfully presenting a FAT12 filesystem to iOS 13 as CIRCUITPY. See https://learn.adafruit.com/use-circuitpython-devices-with-iphone-ipad. I don't believe the issue with the UF2 drive not appearing is due to it being FAT16 per se: it's some other issue about the presentation of the drive. We are working on this. There is an issue about how much power a board says it dr

[2019-10-22 12:54] dhalbert commented on #80
Could you explain the scenario which prevents your updating your software without the library? Could you use a two-stage update? The first would load an updater which knows about the SD cards, and the second would run that updater for the final upload.

[2019-10-22 13:20] dhalbert commented on #80
Adafruit has considered adding the capability to write to external flash chips to UF2, but it could also be an on-board SD card. For SAMD21 boards, though, the bootloader will no longer fit in 8KiB, and we really need the internal flash space on the SAMD21 boards.

[2019-10-23 08:41] gotfredsen commented on #79
Thanks @dhalbert. If work is already in progress, I will close this issue. Thanks again.

[2019-10-23 08:41] #79 closed

[2019-11-06 03:20] sabas1080 opened #82 "Support Family SAML?"
Hi

UF2 support family SAML?

Thanks

[2019-11-06 04:13] dhalbert commented on #82
There is no support for SAML. See https://github.com/microsoft/uf2-samdx1/tree/master/lib for the families that we currently support. PR's welcome :)

[2019-11-12 00:16] sabas1080 commented on #82
#83

[2020-01-02 00:14] sabas1080 commented on #82
Now support SAML21 and SAMR34

[2020-01-02 00:14] #82 closed

[2020-01-14 10:12] #78 closed

[2020-02-14 19:08] idesignstuff opened #87 "Add .bin for Seeed Wio Lite w600"
As .ino files brick devices, and the Seeed Wio Lite W600 comes with firmware for use with arduino / c, but follows Feather footprint and pinouts, it would be awesome to make a CircuitPython port for replacing the default bootloader. Please and Thank you!

[2020-02-19 11:03] modmatic commented on #76
@IoTPanic Could you explain your last comment? Is it fine to just remove the `: "sp"`? If feels wrong to fix it that way...

[2020-02-19 12:32] IoTPanic commented on #76
@modmatic Removing `: "sp"` will allow it to compile with the version of the ARM tool chain that ships with most package managers and I have tested this fix on SAMD21 and SAMD51 processors for months with no issues. My understanding is it's just a label for the compiler, and making the change does not functionally change the clobbered list.

[2020-03-11 07:46] JetForMe opened #88 "Shouldn't check_start_application clear *DBL_TAP_PTR on BOD reset, also?"
I've been experiencing an issue where poor power rails cause the bootloader to be entered spontaneously. You can simulate this by applying power to a Feather M0 by holding the ends of two wires together to complete the path to the positive power supply, and then rub them to make a series of interrupted power spikes.[^1]

I think this is triggering the brown-out detection circuitry, and setting the

[2020-03-12 19:48] JetForMe commented on #88
I took a chance and flashed this bootloader onto a chip, and bricked it. I've ordered an ATMEL-ICE, should be here tomorrow. Not sure if I loaded it incorrectly (I used the resulting `.ino` file), or if this code doesn't work.

[2020-03-12 23:26] mmoskal commented on #88
I generally had good luck using Particle Debugger (with openocd).

[2020-03-13 01:19] JetForMe commented on #88
Thanks. I'll order one of those, too. The ATMEL-ICE is already on its way.

[2020-03-13 01:42] dhalbert commented on #88
Most of us at Adafruit use J-Links. This one is inexpensive: https://www.adafruit.com/product/3571 (out of stock now, but do a websearch for other suppliers. This breakout is also useful: https://www.adafruit.com/product/2743

[2020-03-13 19:39] JetForMe commented on #88
What `openocd` configuration file and invocation do you typically use to program a Feather M0?

[2020-03-13 19:52] mmoskal commented on #88
The following should work:

`openocd -f interface/cmsis-dap.cfg -f target/at91samdXX.cfg -c 'program binary.elf verify reset exit'`

Note that for bootloader it becomes much more tricky if the write protection is enabled. There are some scripts in this repo to disable it with openocd but it is a bit of a hit and miss for me.

[2020-03-14 06:36] JetForMe commented on #88
Thank you for your help so far. I’m running into this error, not sure if you can help. Google seems to turn up surprisingly little around this.

[code]

I tried running the fuse repair (had to modify the `dbgtool.js` file to find my openocd). I ran this twice with identical output, and I still get the same result as above when I try to flash the device. It’s at least partly talking to the Feather

[2020-03-14 07:32] JetForMe commented on #88
Update: I was trying this with my bricked Feather M0 BLE. I tried it with a Feather M0 Basic, and it seems to have worked. So, I'm not sure what's going on.

Initial programming attempt:

[code]

Successful fuse change:

[code]

Successful flash:

[code]

[2020-03-14 07:41] JetForMe commented on #88
Oh, and the most important news: My proposed fix above seems to work. I'll make a PR.

[2020-03-25 06:46] JetForMe commented on #88
Well, dammit. It seems this was not enough to fix the issue. It's much harder to reproduce now, but the bootloader is still spuriously triggered with poor startup power.

[2020-04-09 14:38] dhalbert opened #90 "purpose of flash_write() function in flash_samd21.c?"
Hi, I'm trying to gain back some space in the samd21 version of the bootloader to eventually add fuse repair and other features.

Could I ask, what is the purpose of this `flash_write()` function?
https://github.com/microsoft/uf2-samdx1/blob/df89a1f91a7464a51cd11cb3ad7ca10051028bc4/src/flash_samd21.c#L62
It's not used in C code but is mentioned in the `Makefile`:
https://github.com/microsoft/uf2-s

[2020-04-09 15:51] mmoskal commented on #90
It was used to generate assembly stub to be uploaded via debugger to flash on device. While you can remove it, it will not save space. We compile with `-ffunction-sections` (wasn't you who added that? ;-) so functions that are not used are not compiled in.

[2020-04-09 15:58] dhalbert commented on #90
Ah, ok, thanks!

[2020-04-09 15:58] #90 closed

[2020-04-24 04:07] modmatic opened #91 "[Question] Extending storage space with external flash"
Is it possible to build a UF2 bootloader that can utilize external flash (for instance, QSPI flash on a SAMD51) for mass storage, rather than the built in flash? I believe this is how CircuitPython bootloaders behave. Being able to easily populate the external flash via drag and drop would be very beneficial for boards that include one. I’d expect that the internal flash would still be used for st

[2020-04-24 12:38] dhalbert commented on #91
Hi, just to be clear, CircuitPython itself is not a bootloader. It is "just another program". The CIRCUITPY drive is a real USB drive, which you can populate like any other drive. There is also an Arduino library, https://github.com/adafruit/Adafruit_TinyUSB_Arduino, which can provide USB-drive-style access to external flash. So once you load CircuitPython or an Arduino program that uses that libr

[2020-04-24 13:18] modmatic commented on #91
@dhalbert Ah that makes much more sense, thanks! The main goal is to allow easy access to the external flash for users, so I’ll look into TinyUSB. Having the ability via a UF2 bootloader, so the can be there regardless of which program is installed, would be even better, but obviously is a more complex solution.

[2020-04-24 13:21] #91 closed

[2020-04-27 07:42] telix001 opened #92 "MSC incorrect enumeration"
When I connect the Feather M0 Express board in bootlaoder mode to the computer's USB port before turning on the power, and then turn on the computer, the msc enumeration does not work correctly....

Debug mode:
`Start
Before main loop
USBReq: 0x500 wValue: 0x1 wIndex: 0x0 wLen: 0x0
USBReq: 0x680 wValue: 0x100 wIndex: 0x0 wLen: 0x8
USBReq: 0x680 wValue: 0x100 wIndex: 0x0 wLen: 0x12
USBReq: 0x680 wV

[2020-05-09 14:37] modmatic commented on #91
Not intending to reopen, but I have a lingering question related to your comment:

This seems to mean there is a way to upload programs via drag-and-dropping UF2 files. Is there a documented process for converting Arduino programs to UF2? (For instance, from .hex; or, even better, compile directly to UF2? My first instinct would be to grab the current UF2 file from a programmed chip and see if tha

[2020-05-09 16:10] mmoskal commented on #91
This script https://github.com/microsoft/uf2/blob/master/utils/uf2conv.py can convert hex and bin to UF2. The CURRENT.UF2 does contain the whole flash.

[2020-05-10 01:14] modmatic commented on #91
@mmoskal Thanks for that! Good to know about the current UF2 containing the whole flash. We may opt to ship chips with a program pre-loaded (along with the bootloader), so that would be perfect.

[2020-05-20 20:10] cozzyd commented on #76
One can also just add -Wno-deprecated to the WFLAGS in the Makefile

[2020-05-20 20:42] dhalbert commented on #76
I have a fix for this in the adafruit fork and will be doing a PR relatively soon.

[2020-06-03 12:00] electronrancher commented on #76
@dhalbert could you please point me to your fix for this error?  I am comparing your adafruit fork and I don't see any makefile edits or other changes that look promising.  thanks

[2020-06-03 12:06] electronrancher commented on #76
Thanks @cozzyd updating the WFLAGS worked for me with latest binutils

[2020-06-03 12:55] dhalbert commented on #76
@electronrancher Change is here:
https://github.com/adafruit/uf2-samdx1/blob/246e826e910f17bf474047bce74f21b87a082b6b/lib/cmsis/CMSIS/Include/core_cmFunc.h#L456-L457

[2020-06-03 15:14] electronrancher commented on #76
Thanks @dhalbert

[2020-06-06 18:05] spachner opened #93 "UF2 MSC volume does not show up under Linux - MacOS works fine"
Hi,

I found your uf2 bootloader which looks quite promising. I have a custom board with SAMD21 which works file with USB/MSC driver from Microchip asf. Now I would like to add a USB bootloader and trying your uf2 (msc) to get drag-and-drop firmware update work. I develop on MacOS and there everything work quite fine. When attaching my SAMD board the new volume shows up and firmware update works p

[2020-06-06 18:14] dhalbert commented on #93
This does work on Linux; I use it all the time. I notice you are running Linux on Parallels. Do you have a native Linux machine to try?

[2020-06-06 19:38] spachner commented on #93
Hi Dan,

thank for your quick answer. Glad to hear that is must work. I am working with Linux@Parallels for many years now and never had an issue with USB. I will try on native Linux next week.
I also gave CDC a try and used bossac.
Either on MacOS and on Linux@Parallels. Same result Mac works and Linux not.
I guess the CDC device is /dev/ttyACM0. I tried

[code]

[code]

I have no glue what is go

[2020-06-08 19:24] spachner commented on #93
Hi Dan,

quite wired: After rebooting the Mac my virtual Ubuntu works quite well with uf2. I am happily bootloading now. Seems to be a glitch with MacOS's USB subsystem.

Thanks for you help.

regards

spachner

[2020-06-08 19:25] #93 closed

[2020-06-08 19:28] dhalbert commented on #93
Glad to hear! I was thinking of how to reproduce this.

[2020-06-15 15:07] CraigHutchinson commented on #55
I am looking into this dual-bank mechanism and I don't stand to fully understand.

Naively I would agree with @dhalbert in respect to it halving the usable flash space but I cannot actually see any confirmation that this is how it functions when  active i.e. It appears the entire flash is dual banked and I cant see any reference in the Datasheet to say you enable it and get half the space.

If any

[2020-06-15 15:52] dhalbert commented on #55
I agree it is poorly explained in the data sheet. There is no explicit description that BANKA and BANKB  are each half of the main part of flash. But there are hints in the SmartEEPROM description. And it seems very unlikely that the flash capacity would actually be double what was spec'd and so much chip area would be devoted to implementing this feature.

[2020-07-31 00:34] presslab-us commented on #93
Just thought I'd chime in and say that I see the same problem where it resets after 22 seconds, using USB3 redirection with QEMU 5.0.0.  On native Linux it is working fine.

I'd guess it's some kind of timing issue but who knows.

[2020-09-22 21:29] edspark opened #95 "SAMD51 using SERCOM5?"
I'm a little stumped. I've double and triple checked my hardware on this, but the following configuration for my device does not show up as a boot drive when connected to a computer. Is there something about SERCOM5, or these particular pins that do not work in this configuration? Could someone point me to some literature or forum post that would help elucidate what's going on?

[code]

I should m

[2020-09-23 02:28] edspark commented on #95
Sorry to clutter the space - I had to do a lot more reading than I was willing to do 5 hours ago, but I did figure it out.

[2020-09-23 02:28] #95 closed

[2021-03-16 06:26] CatalinPopovici opened #97 "I2C in the bootloader"
Hello, I am trying to implement Bitbang I2C protocol in the bootloader. I was not able to find any code that would work for any bootloader. After that, I have found an Arduino Bitbang I2C library which I have successfully compiled to the bootloader using Arduino IDE and was able to use the lib with Arduino IDE code but when I tried to implement the source code in the bootloader, I realized that it

[2021-03-16 13:22] dhalbert commented on #97
Any low-level library like this will vary by the chip family. Which chip family are you targeting?

Is this the library you are using? https://www.arduino.cc/reference/en/libraries/bitbang_i2c/. It supports AVR-style chips, but you are probably targeting something else.

[2021-03-16 19:28] CatalinPopovici commented on #97
Hello Dan, that is indeed the library I was trying to implement. I am working with Adafruit ItsyBitsy M4 Express.

[2021-04-14 13:04] Sympatron opened #98 "WMODE not entirely correct"
Technically the following line would have to set `NVMCTRL_CTRLA_WMODE_MAN_Val` instead of `NVMCTRL_CTRLA_WMODE_MAN`, because the latter is already shifted and therefore not meant to be written to the bitfield. This only worked, because `NVMCTRL_CTRLA_WMODE_MAN_Val` is 0x0, otherwise this would not have worked.
https://github.com/microsoft/uf2-samdx1/blob/df89a1f91a7464a51cd11cb3ad7ca10051028bc4/sr

[2021-04-22 06:24] krishnatejakvs commented on #92
Hi, I am having similar issue. Did you able to resolve this issue?

[2021-06-10 14:53] sslupsky opened #100 "bin2uf2.js throwing deprecation warning"
When running the script bin2uf2.js, a deprecation warning is displayed in terminal:
[code]

Here is the deprecation trace:
[code]

I am running macOS Big Sur.
Node version 16.3.0

[2021-06-10 21:01] #100 closed

[2021-06-10 21:01] mmoskal commented on #100
Thanks, should be fixed now!

[2021-06-10 22:40] sslupsky commented on #100
wow, that was fast!  Thank you :-)

[2021-08-13 19:02] kelroy1990 opened #102 "[Compile Error] ATSAMD21J17A"
Hi, i am just working on a new ATSAMD21J17A from Microchip, as you know, its really complex to obtain a ATSAMD21G18 at this moment, so i am trying to make my proyect with the J17A variant.

The problem comes when i try to compile the new board, i obtain the following error:

`Building zero
echo "src/flash_samd21.c"
src/flash_samd21.c
arm-none-eabi-gcc -mthumb -mcpu=cortex-m0plus -Os -g -DSAMD21 -x

[2021-12-21 23:55] dstahlke commented on #102
I got this same error.  Attempted to fix it by editing inc/uf2.h:

    -#define FLASH_NUM_ROWS 1024
    +#define FLASH_NUM_ROWS 512

That allows it to get past the STATIC_ASSERT, but then there is a linker error:

    /usr/lib/gcc/arm-none-eabi/9.2.1/../../../arm-none-eabi/bin/ld: section .binfo LMA [0000000000001ff0,0000000000001fff] overlaps section .relocate LMA [0000000000001e30,0000000000001f

[2021-12-22 00:48] dstahlke commented on #102
I don't mean to hijack the thread with my own issues, but I did get past the linker error by turning off some features in inc/uf2.h, namely USE_FAT, USE_INDEX_HTM, and USE_WEBUSB.  Probably these features just made the bootloader too big for this chip.

Unfortunately, I'm now fighting OpenOCD issues.  So I can't yet report on whether these fixes work.

[2021-12-28 09:07] kelroy1990 commented on #102
@dstahlke

I finally manage to solve this issue, i just change the chip compilation for the ATSAMD21G17, its a bit tricky but it works.

At this moment i dont have time to get the diff to see what its the real problem right now, but it should be a define or something like that.

Regards, Carlos.

[2021-12-28 17:45] dstahlke commented on #102
For me, it was enough to do the FLASH_NUM_ROWS change I mentioned above, set #define USE_INDEX_HTM 0 to make it a bit smaller, and define the chip type in board.mk:

CHIP_FAMILY = samd21
CHIP_VARIANT = SAMD21J17A

Also, -Wno-deprecated in the top Makefile and editing scripts/dbgtool.js to use a patched OpenOCD with ST-Link (master branch and releases of OpenOCD have a bug when using ST-Link with t

[2022-01-20 02:00] JackCasual opened #103 "Encountered two compile errors and propose a patch"
Starting with a fresh clone from master. Compiling on 5.15.7-arch1-1 x86_64 GNU/Linux using arm-none-eabi-gcc 11.2.0-1 leads to two errors:

**First**
`
src/cdc_enumerate.c: In function 'AT91F_USB_SendZlp':
src/cdc_enumerate.c:725:5: error: 'c' may be used uninitialized [-Werror=maybe-uninitialized]
`
`  724 |     uint8_t c;`
`  725 |     USB_Write(&c, 0, 0);`

which can be fixed by initialising `

[2022-01-20 09:11] #103 closed

[2022-01-23 22:33] functionpointer opened #104 "MSC handover documentation?"
I would love to use the MSC handover technique described in the readme.
It says "Details are being finalized.", however the latest change to the readme was 3 years ago.

What is the current state of the handover? Is it ready for use? Is there an example somewhere?

[2022-01-24 09:49] mmoskal commented on #104
I would recommend not using it. I think it was never stable.

[2022-01-24 09:49] #104 closed

[2022-01-29 14:33] Bugsia opened #105 "Which Bootloader for ATSAMD21G18A-AU?"
I went here to find the UF2 bootloader for ATSAMD21G18A-AU, as Micorsoft GitHub page sends me here, for them, but I cant find the coorect bootloader.

Could someone help me, please.

[2022-01-29 14:41] dhalbert commented on #105
The bootloaders here and in https://github.com/adafruit/uf2-samdx1 support a large number of SAMD21 boards. Are you making your own board, or do you need a bootloader for an existing board?

[2022-01-29 17:50] Bugsia commented on #105
Thanks. I am creating my own board

[2022-01-29 18:13] dhalbert commented on #105
The changes between boards are minor: just pin changes, mostly for LED indicators and the like.

[2022-01-29 18:13] #105 closed

[2022-05-30 16:00] ricardoboss commented on #55
What about `SAMD51J20A`? It would have 512K flash per bank. Is support for this planned?

[2022-05-30 16:03] ricardoboss commented on #55
Ref: https://microchipsupport.force.com/s/article/SAM-D5x-E5x---NVM-Bank-Swapping

[2022-08-19 07:28] microsoft-github-policy-service[bot] opened #108 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-19 07:29] #108 closed